name: strix-penetration-test

on:
  workflow_dispatch:
    inputs:
      target:
        required: true
        description: # Scan a local codebase  strix --target ./app-directory  # Security review of a GitHub repository strix --target https://github.com/org/repo   # Black-box web application assessment strix --target https://your-app.com
        default: './'

jobs:
  security-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Strix
        run: pipx install strix-agent

      - name: Run Strix
        env:
          STRIX_LLM: ${{ secrets.STRIX_LLM }}
          LLM_API_KEY: ${{ secrets.LLM_API_KEY }}

        run: strix -n -t ${{ github.event.inputs.target }}
